body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* GAEL-SRC.GITHUB.IO */
.gael-src-link {
  color: black;
  border: solid 1px black;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  padding: 5px 10px;
}
.gael-src-link:hover {
  color: white;
  background-color: black;
}
.gael-src-link-wrapper {
  min-height: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
