body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* GAEL-SRC.GITHUB.IO */
.gael-src-link {
  color: #0081ff;
  border: solid 1px #0081ff;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  margin: 100px 10px;
  padding: 5px 10px;
}
.gael-src-link:hover {
  color: #0081ff;
  text-decoration: underline;
}
